<div class="Page">
  <div class="Page__Header">
    <h1 class="Page__Title">Buddies</h1>
    <p class="Page__Subtitle">
      Hire locals to watch the market and sell for you
    </p>
  </div>

  <div class="Page__Content">
    <div class="Buddies__Section">
      <div class="Buddies__SectionHeader">
        <h2>At <%= @current_location.name %></h2>
        <%= button_to "Hire Buddy ($100)", buddies_path, method: :post, class: "button button--small", disabled: current_game.cash < 100 %>
      </div>

      <div id="buddies-here">
        <% if @buddies_here.any? %>
          <% @buddies_here.each do |buddy| %>
            <%= render "buddy_card", buddy: buddy, at_buddy_location: true %>
          <% end %>
        <% else %>
          <div class="Alert Alert--info">
            No buddies here yet. Might have to pay for friendship.
          </div>
        <% end %>
      </div>
    </div>

    <% if @buddies_elsewhere.any? %>
      <div class="Buddies__Section">
        <h2>Buddies Elsewhere</h2>
        <div id="buddies-elsewhere">
          <% @buddies_elsewhere.each do |buddy| %>
            <%= render "buddy_card", buddy: buddy, at_buddy_location: false %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
