<div class="travel">
  <h1 class="travel__title">Travel</h1>

  <div class="locations">
    <% @locations.each do |location| %>
      <div class="location-card">
        <h2 class="location-card__name"><%= location.name %></h2>
        <% if location.description.present? %>
          <p class="location-card__description"><%= location.description %></p>
        <% end %>
        <div class="location-card__coords">
          <span class="location-card__coord">X: <%= location.x %></span>
          <span class="location-card__coord">Y: <%= location.y %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
