<div id="game_stats" class="game-stats">
  <div class="game-stats__item">Cash: $<%= number_with_delimiter(game.cash.to_i) %></div>
  <div class="game-stats__item">Inventory: $<%= number_with_delimiter(game.inventory_value.to_i) %></div>
  <div class="game-stats__item">Day <%= game.current_day %></div>
</div>
