<div id="game_stats">
  <span class="header__cash">Cash: $<%= number_with_delimiter(game.cash.to_i) %></span>
  <span class="header__cash">Inventory: $<%= number_with_delimiter(game.inventory_value.to_i) %></span>
  <span class="header__welcome">Day <%= game.current_day %></span>
</div>
