<div id="toast-container"
     class="toast-container toast-container--top-right"
     data-controller="toast"
     data-toast-target="container"
     data-toast-auto-dismiss-value="5000">
  <%= yield if block_given? %>
</div>
